<div class="text-center">
	<h1 class="display-4">Soy Agner Alexis</h1>
	<h2>Soy un desarrollador full stack especializado en .net y javascript</h2>

	<!-- '~' es para indicar el path de la raiz -->
	<img id="foto" src="~/img/yo.jpeg" alt="Foto Agner" />
</div>

<div class="d-flex justify-content-center logos">
	<img src="~/img/aspnetcore.png" alt="Logo asp.net" />
	<img src="~/img/csharp.png" alt="Logo C#" />
	<img src="~/img/js.png" alt="Logo JavaScript" />
	<img src="~/img/php.png" alt="Logo php" />
	<img src="~/img/sql_server.webp" alt="Logo Sql Server" />
	<img src="~/img/entity.png" alt="Logo Entity Framework Core" />
</div>

<div class="row justify-content-center text-center bg-primary">
	<div class="col col-md7 seccion-bienvenida">
		<h2>Te doy la bienvenida a mi portafolio</h2>
		<p>He desarrollado software desde el 2017 trabajando principalmente aplicaciones de C#/ASP.NET, SQL Server, Entity Framework, JavaScript y PHP(Laravel) </p>
	</div>
</div>