
@{
	ViewData["Title"] = "Proyectos";
}

<div class="container">
	<h2>Mis proyectos</h2>
	<p>Aqui encontrarás todos los proyectos en los que he trabajado.</p>
</div>

<partial name="_ProyectsList" model="Model" />